.title_welcome {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.title_welcome_top {
    margin-bottom: 20px;
    margin-top: 50px;
}
.hr_black {
    width: 250px;
    min-height: 2px;
}

.boder_sp {
    border: 1px solid gray;
    border-radius: 5px;
}

.navigation_header {
    background-color: #fdced5
}

.navigation_link {
    color: #e95e5e !important;
}
.img_van_chuyen {
    width: 130px; 
    margin-left: 20px;
}
.img_thanh_toan {
    width: 70px; 
    margin-left: 20px;
}

.btn_mua_sp {
    background-color: #f58181;
    color: white;
    width: 150px;
}

.btn_mua_sp:hover {
    background-color: #e95e5e;
    color: white;
}
.btn_edit {
    background-color: rgb(61, 188, 83);
    color: white;
}
.btn_edit:hover {
    background-color: rgb(45, 154, 63);
    color: white;
}
.btn_delete {
    background-color: rgb(139, 138, 138);
    color: white;
}
.btn_delete:hover {
    background-color: rgb(108, 108, 108);
}