.title_welcome {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.title_welcome_top {
    margin-bottom: 20px;
    margin-top: 50px;
}

.navigation_header {
    background-color: #fdced5
}
.navigation_link {
    color: #e95e5e !important;
}
.trangthai_header {
    font-family: 'Times New Roman', Times, serif;
}
.trangthai_boder {
    border: 1px solid lightgrey;
}
.border_img {
    border: 1px solid gray;
}

.btn_mua_sp {
    background-color: #f7b0b0;
    color: white;
    width: 100px;
    margin-top: 10px;
}

.btn_mua_sp:hover {
    background-color: #e95e5e;
    color: white;

}

.btn_vietdanhgia {
    width: 150px;
    margin-left: 20px;
}
.sao_danhgia {
    color: #e95e5e;
}
.hr_black {
    width: 250px;
    min-height: 2px;
}