<link rel="stylesheet" href="/ASM/css/mua_hang.css">

<div class="row">
    <div class="col-12">
        <div class="row justify-content-center">
            <h1 class="title_welcome title_welcome_top"> - WELCOME TO HANDMADE SHOP - </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="row justify-content-center">
            <p class="title_welcome"> Made with love, everything we do is ‘for you, for beauty’ </p>
            <hr class="hr_black mb-5">
        </div>
    </div>
</div>

<section class="row ms-5">
    <div class="col-md-3">
        <div class="row">
            <img src="/ASM/img/model_11.jpg" alt="">
        </div>
        <div class="row">
            <img src="/ASM/img/model_10.jpg" alt="">
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="card">
                <div class="card-header navigation_header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active navigation_link" aria-current="true" href="#/san_pham_da_mua">SẢN PHẨM ĐÃ MUA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active navigation_link" href="#/gio_hang">GIỎ HÀNG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active navigation_link" href="#/mua_hang">MUA HÀNG</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="row mt-3">
                        <h4>Thông tin mua hàng</h4>
                        <hr>
                    </div>

                    <form>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Họ và tên</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Số điện thoại</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group mb-3">
                                <label class="form-label">Địa chỉ</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-4">
                                <select class="form-select form-select-sm mb-3 py-2" id="city"
                                    aria-label=".form-select-sm">
                                    <option value="" selected>Chọn tỉnh thành</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="col-md-3 form-select form-select-sm mb-3 py-2" id="district"
                                    aria-label=".form-select-sm">
                                    <option value="" selected>Chọn quận huyện</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="col-md-3 form-select form-select-sm py-2" id="ward"
                                    aria-label=".form-select-sm">
                                    <option value="" selected>Chọn phường xã</option>
                                </select>
                            </div>

                        </div>
                    </form>

                    <div class="row mt-4">
                        <h4>Phương thức vận chuyển</h4>
                        <hr>
                    </div>

                    <div class="card p-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input mt-4" type="radio"
                                        name="flexRadioDefault" id="flexRadioDefault1"checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Giao hàng nhanh
                                    </label>
                                    <img class="img_van_chuyen" src="/ASM/img/logo_ghn.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input mt-4" type="radio"
                                        name="flexRadioDefault" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Giao hàng tiết kiệm
                                    </label>
                                    <img class="img_van_chuyen" src="/ASM/img/logo_ghtk3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <h4>Phương thức thanh toán</h4>
                        <hr>
                    </div>

                    <div class="card p-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input mt-4" type="radio"
                                        name="flexRadioDefault2" id="flexRadioDefault3" checked>
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        Thanh toán khi nhận hàng (COD)
                                    </label>
                                    <img class="img_thanh_toan" src="/ASM/img/logo_cash.png">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input mt-4" type="radio"
                                        name="flexRadioDefault2" id="flexRadioDefault4">
                                    <label class="form-check-label" for="flexRadioDefault4">
                                        Thanh toán qua ví Momo
                                    </label>
                                    <img class="img_thanh_toan" src="/ASM/img/logo_momo.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Radio inline -->               
                        <!-- <div class="card">
                            <div class="row">
                                <div class="col p-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">1</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">2</label>
                                      </div>
                                </div>
                            </div>
                        </div> -->              
                      <!-- End radio inline -->

                    <div class="row mt-4">
                        <h4>Mặt hàng</h4>
                        <hr>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-1">Hình</th>
                                <th>Tên SP</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                                <th>Thành tiền</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="son in arrMuaHang">
                                <td><img class="col-12" src="/ASM/img/{{son.hinhAnh}}" alt=""></td>
                                <td>{{son.ten}}</td>
                                <td >{{son.soLuong}}</td>
                                <td>{{son.gia}}</td>
                                <td>{{son.soLuong * son.gia}}</td>
                                <td>
                                    <button class="btn btn-default btn_edit">Thêm</button>
                                    <button ng-click="deleteMuaHang(son.id)" class="btn btn-default btn_delete">Xóa</button>
                                </td>
                            </tr>  
                        </tbody>
                    </table>

                    <div class="row ">
                        <div class="col-md-5 offset-md-6">
                            <div class="row">
                                <h6 class="col-6">Tạm tính</h6>
                                <h6 class="col-6 text-end">{{tongGiaTri}} VND</h6>                          
                            </div>

                            <div class="row">
                                <h6 class="col-6">Vận chuyển</h6>
                                <h6 class="col-6 text-end"> - </h6>                          
                            </div>

                            <div class="row py-2">
                                <h3 class="col-6">Thành tiền</h3>
                                <h3 class="col-6 text-end">{{tongGiaTri}} VND</h3>                          
                            </div>

                            <div class="row mt-3 justify-content-center">
                                <a href="#" class="col-4 btn btn-default btn_mua_sp">Đặt hàng</a>
                            </div>

                        </div>                       
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</section>


<div class="row mx-1">
    <div class="col">
        <div class="row justify-content-center">
            <h1 class="title_welcome title_welcome_top"> - HANDMADE SHOP THANK YOU - </h1>
            <hr class="hr_black">
        </div>
    </div>
</div>